<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keyword" content="HTML, CSS, JAVASCRİPT">
    <meta name="author" content="">
	<title>Kayıt işlemi</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<title></title>
</head>
<body><br><br><br>
	<div class="container">
		<div class="">
			<% rows.forEach(function(rows) { %>
				<h2>name :<%=rows.username%>  </h2><br>
				<h2>pass : <%=rows.password%> </h2> 
		 	<% }); %>
		</div>
	</div>
</body>
</html>